:root {
  font-family:monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}
h2:hover{
  color: #646cff;
}

h3{
  font-size: 2em;
  line-height: 1.1;
  color: rgb(134, 134, 134);
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: none;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.currentUnit {
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  margin-right: 0.5em;
}

.unit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18em;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.selected {
  color: #646cff;
}

.barbell {
  display: flex;
  width: 50em;
  height: 0.5em;
  background-color: silver;
  position: relative;
  margin: 0 auto;
}

.plate-left, .plate-right {
  height: 9.81em;
  width: 1.22%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: 0.05em solid black;
  border-radius: 5px;
  align-self: center;
}

.weightLabel {
  font-size: 0.7em;
  width: 100px;
}

.leftPlates, .rightPlates {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translateY(-50%);
}

.leftPlates {
  justify-content: right;
  right: 80.32%; 
}

.rightPlates {
  justify-content: left;
  left: 80.32%; 
}

input[type="number"] {
  width: 4em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 2em;
  font-family: monospace;
  text-align: right;
}

@media (max-width: 430px) {
  html, body {
    overflow-x: hidden;
  }
  #root {
    width: 430px;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  
  h1 {
    font-size: 4em;
    text-align: center;
    line-height: 4em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  .plate-left, .plate-right {
    background-color: #646cff;
  }
  
  .unit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid transparent;
    transition: border-color 0.25s;
  }

  .barbell{
    width: 140em;
  }

  .weightLabel {
    font-size: 1em;
  }
}
