:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}
h2:hover{
  color: #646cff;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: none;
}

.unit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18em;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}



.selected {
  width: 5.3em;
  height: 2px;
  background-color: #646cff;
  margin-left: 3.8em;
}

.barbell {
  width: 22em;
  height: 10px;
  background-color: grey;
  position: relative;
  margin: 20px auto;
}

.plate-left {
  position: absolute;
  height: 92px;
  width: 0.27em; /* Increase the width to make it wider */
  background-color: #646cff;
  margin: 5px; /* Decrease the margin to make it shorter */
  top: -46px; /* Raise the y position to overlap through the center */
  left: 83.3%; /* Adjust the left position to bring it closer to the middle */
}

.plate-right {
  position: absolute;
  height: 92px;
  width: 0.27em; /* Increase the width to make it wider */
  background-color: #646cff;
  margin: 5px; /* Decrease the margin to make it shorter */
  top: -46px; /* Raise the y position to overlap through the center */
  right: 83.3%; /* Adjust the right position to bring it closer to the middle */
}

input[type="number"] {
  width: 2.57em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 2em;
  font-family:monospace;
}

